<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.care.dbQuiz.repository.MemberRepository">

	<select id="findById" resultType="com.care.dbQuiz.dto.MemberDTO">
		SELECT * FROM db_quiz WHERE id=#{id}
	</select>
	
	<insert id="register" parameterType="com.care.dbQuiz.dto.MemberDTO">
		INSERT INTO db_quiz 
		VALUES(#{id}, #{pw}, #{username}, #{address}, #{mobile})
	</insert>
	
	<select id="findAll" resultType="com.care.dbQuiz.dto.MemberDTO">
		SELECT * FROM db_quiz
	</select>
	
	<update id="update" parameterType="com.care.dbQuiz.dto.MemberDTO">
		UPDATE db_quiz SET pw=#{pw}, username=#{username},
		address=#{address}, mobile=#{mobile} WHERE id=#{id}
	</update>
	<delete id="delete">
		DELETE FROM db_quiz WHERE id=#{id}
	</delete>
</mapper>



















